<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <div th:fragment="header-css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>
        <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
        <link rel="stylesheet" href="../../static/css/jumbotron-narrow.css" th:href="@{/css/jumbotron-narrow.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </div>
    <title th:text="#{company.title}" th:fragment="header-title">company.title</title>
</head>
<body>

<nav class="navbar navbar-inverse" th:fragment="header-menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a th:text="#{nav.main}" th:href="@{/main}">nav.main</a></li>
                <li><a th:text="#{nav.editor}" th:href="@{/editor}">nav.editor</a></li>
            </ul>
            <ul th:if="${#authentication.getPrincipal()}==anonymousUser" class="nav navbar-nav navbar-right">
                <li class="active">
                    <a th:text="#{nav.login}" th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span>nav.login</a>
                </li>
                <li>
                    <a th:text="#{nav.sign}" th:href="@{/sign}"><span
                            class="glyphicon glyphicon-user"></span>nav.sign</a>
                </li>
            </ul>
            <div th:if="${#authentication.getPrincipal()}!=anonymousUser">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:text="#{nav.signout}" href="javascript: document.logoutForm.submit()"><span
                                class="glyphicon glyphicon-log-in"></span>nav.signout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input type="submit" th:value="#{nav.signout}"/>
    </form>
</nav>

<div class="container text-center" th:fragment="header">
    <div class="jumbotron">
        <h1 th:text="#{company.title}">company.title</h1>
        <div th:if="${#authentication.getPrincipal()}==anonymousUser">
            <p class="lead" th:text="#{header.welcomeToAnonymous}">header.welcomeToAnonymous</p>
            <p th:text="#{header.welcomeToAnonymousMessage}"></p>
        </div>
        <div th:if="${#authentication.getPrincipal()}!=anonymousUser">
            <p class="lead" th:text="#{header.welcomeToUsers} + ${#authentication.getName()}"></p>
            <p th:text="#{header.welcomeToUsersMessage}">header.welcomeToUsersMessage</p>
        </div>
    </div>
</div>
</body>
</html>