<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-title"/>
</head>
<body>
<div th:replace="fragments/header :: header-menu"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="text-left">
                <form action="#" th:action="@{/editor/submit}" th:object="${article}" method="post">
                    <h1 th:text="#{editorPage.form.h1}">editorPage.form.h1</h1>
                    <div class="form-group">
                        <label for="title" th:text="#{editorPage.form.label.title}">editorPage.form.label.title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}"/>
                        <label for="tags" th:text="#{editorPage.form.label.tags}">editorPage.form.label.tags</label>
                        <input type="text" class="form-control" id="tags" th:field="*{tags}"/>
                    </div>
                    <div class="form-group">
                        <label for="content"
                               th:text="#{editorPage.form.label.content}">editorPage.form.label.content</label>
                        <textarea class="form-control" rows="20" id="content" th:field="*{content}"></textarea>
                    </div>
                    <input type="hidden" class="form-control" id="userApp" name="userid"
                           th:value="${CurrentUserAppId}"/>
                    <button type="submit" class="btn btn-success" th:text="#{editorPage.form.button.submit}">
                        editorPage.form.button.submit
                    </button>
                </form>
                <hr/>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>