<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-title"/>
</head>
<body>
<div th:replace="fragments/header :: header-menu"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <form th:action="@{/login}" method="post">
        <fieldset>
            <h2 th:text="#{loginPage.form.h2}">loginPage.form.h2</h2>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" autofocus="autofocus"
                       th:placeholder="#{loginPage.form.input.username.placeholder}" required="required"/>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password"
                       th:placeholder="#{loginPage.form.input.password.placeholder}" required="required"/>
            </div>
            <br/>
            <div class="text-center">
                <button type="submit" class="btn btn-success" th:text="#{loginPage.form.button.submit}">
                    loginPage.form.button.submit
                </button>
            </div>
        </fieldset>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>