<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        .row .content {
            padding: 5px;
            margin: 5px;
        }

        .article-menu {

        }
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    </style>
    <title>МегаБлогоКомпани</title>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/main}">Бложик</a></li>
                <li><a th:href="@{/editor}">Добавить статью</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span>Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <div>
                <div class="well">
                    <div class="panel-body">
                        <h1>Добро пожаловать в "МегаБлогоКомпани"</h1>
                        <p>
                            Этот сайт является демо версией возможностей <b>framework'а Spring</b>, о котором я только слышал и вот наконец-то добрался :)<br/>
                        </p>
                    </div>
                        <hr/>

                    <span th:text="${#authentication.getName()}"></span>
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Выйти"/>
                    </form>
                </div>
            </div>
            <div class="row content" th:each="article : ${articles}">
                <a th:href="@{/blog/(id=${article.id})}"><h3 th:text="${article.title}"/></a>
                <p class="" th:text="${article.content}"/>
                <a class="article-menu" th:href="@{/user/(id=${article.getUserId()})}"><p
                        th:text="${article.getUserName()}"/></a>
                <ul th:if="${userApp.getId()}==${article.getUserId()} or ${userApp.getRole()}=='ROLE_EDITOR'"
                    class="list-inline text-right">
                    <li></li>
                    <li><a class="article-menu btn btn-link" th:href="@{/editor/(id=${article.getId()})}"><p
                            th:text="edit"/></a></li>
                    <li><a class="article-menu btn btn-link" th:href="@{/editor/(id=${article.getId()},del=true)}"><p
                            th:text="delete"/></a></li>
                </ul>
                <hr/>
            </div>
        </div>
    </div>
</div>
</body>
</html>