<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-title"/>
</head>
<body>
<div th:replace="fragments/header :: header-menu"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row marketing" th:each="article : ${articles.getAll()}">
        <a th:href="@{/blog/(id=${article.id})}"><h2 class="blog-title" th:text="${article.title}"/></a>
        <p class="blog" th:text="${article.content}"/>
        <div class="text-center comments-div">
            <span class="comments" th:if="${countCommentsByArticle.countCommentByArticleId(article.id)} > 0"
                  th:text="'Оставленно комментариев: ' + ${countCommentsByArticle.countCommentByArticleId(article.id)}">
            </span>
            <span class="comments" th:if="${countCommentsByArticle.countCommentByArticleId(article.id)} == 0">
                Нет комментариев
            </span>
        </div>
        <div class="blog-menu text-right">
            <a title="Профиль пользователя" class="btn btn-default btn-xs"
               th:href="@{/user/(id=${article.getUserid()})}">
                <span class="glyphicon glyphicon-user"></span>
                <span th:text="${articles.getUserAppNameById(article.getUserid())}"/>
            </a>
        </div>
        <div th:if="${userApp.getId()} == ${article.getUserid()} or ${userApp.getRole()}=='ROLE_EDITOR'"
             class="blog-menu text-right">
            <a title="Редактировать" class="btn btn-default btn-xs" th:href="@{/edit(id=${article.getId()})}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a title="Удалить" class="btn btn-default btn-xs" th:href="@{/editor/delete(id=${article.getId()})}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>