<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-title"/>
</head>
<body>
<div th:replace="fragments/header :: header-menu"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <form id="FormRegistration" th:action="@{/login/registration}" th:object="${user}" method="post">
        <fieldset>
            <h2 th:text="#{signPage.form.h2}">signPage.form.h2</h2>
            <div th:if="${param.error}">
                <div class="alert alert-danger" th:text="#{signPage.form.error}"></div>
            </div>
            <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" th:field="*{name}"
                       th:placeholder="#{signPage.form.input.username.placeholder}" minlength="3" required="required"/>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" th:field="*{password}"
                       th:placeholder="#{signPage.form.input.password.placeholder}" minlength="3" required="required"/>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="passwordconfirm" type="password" class="form-control" name="passwordconfirm"
                       th:placeholder="#{signPage.form.input.passwordconfirm.placeholder}" minlength="3"
                       required="required"/>
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input id="email" type="email" class="form-control" name="email" th:field="*{email}"
                       th:placeholder="#{signPage.form.input.email.placeholder}"/>
            </div>
            <br/>
            <div class="text-center">
                <button id="registration" type="button" class="btn btn-success"
                        th:text="#{signPage.form.button.registration}">signPage.form.button.registration
                </button>
            </div>
        </fieldset>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: footer-jsApp"/>
</body>
</html>