<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-title"/>
</head>
<body>
<div th:replace="fragments/header :: header-menu"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row marketing" th:object="${SingleArticle}">
        <h2 class="blog-title" th:text="${SingleArticle.title}"/>
        <p class="blog" th:text="${SingleArticle.content}"/>
        <p class="text-right"><span>Тэги: </span><span class="tag" th:text="${SingleArticle.tags}"/></p>
        <hr/>
    </div>
    <div class="row marketing" th:each="comment,iterationInfo: ${ListOfAllComments}">
        <p th:text="'Комментарий #' + ${iterationInfo.index+1}"/>
        <p th:text="${comment.content}"/>
        <a title="Профиль пользователя" class="btn btn-default btn-xs"
           th:href="@{/user/(id=${comment.getUserid()})}">
            <span class="glyphicon glyphicon-user"></span>
            <span th:text="${geInfoCommetns.getUserNameById(comment.getUserid())}"/>
        </a>
        <div class="text-right" th:if="${currentUser.getId()}==${SingleArticle.getUserid()}">
            <a title="Удалить" class="btn btn-default btn-xs" th:href="@{/blog/comment/delete(id=${comment.getId()})}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <hr/>
    </div>
    <form action="#" th:action="@{/blog/comment}" th:object="${NewComment}" method="post">
        <h1>Оставить комментарий</h1>
        <div class="form-group">
            <label for="content">Текст комментария</label>
            <textarea class="form-control" rows="2" id="content" th:field="*{content}">
                            </textarea>
        </div>
        <input type="hidden" class="form-control" id="articleid" name="articleid"
               th:value="${SingleArticle.getId()}"/>
        <input type="hidden" class="form-control" id="userId" name="userid" th:value="${CurrentUserAppId}"/>
        <button type="submit" class="btn btn-success">Оставить комментарий</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>