<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-title"/>
</head>
<body>
<div th:replace="fragments/header :: header-menu"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div th:object="${SingleUser}">
        <p>Имя пользователя: <span th:text="*{name}"/></p>
        <p>E-mail: <span th:text="*{email}"/></p>
        <p>Опубликованных статей: <span th:text="${CountArticles}"/></p>
        <hr/>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>