<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header-title"/>
</head>
<body>
<div th:replace="fragments/header :: header-menu"/>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div th:object="${SingleUser}">
        <p th:text="#{singleUserPage.name} + *{name}">singleUserPage.name</p>
        <p th:text="#{singleUserPage.email} + *{email}">singleUserPage.email</p>
        <p th:text="#{singleUserPage.CountArticles} + ${CountArticles}">singleUserPage.CountArticles</p>
        <hr/>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>